.index_garage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header_pageNumber,
.header_garage {
    color: var(--yellow);
    font-family: var(--title-font);
    font-size: 1.5vw;
    margin: 0;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {

    .header_pageNumber,
    .header_garage {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 900px) {

    .header_pageNumber,
    .header_garage {
        font-size: 13.5px;
    }
}